.gitignore
!/.gitignore
\#*#
*~
target
.classpath
.project
.settings
build.properties
*.iml
*.ipr
.launch
.*launch
.idea


/plugin-core/src/main/ui/dist/
/plugin-core/src/main/ui/node_modules/
wrap/grpc/dependency-reduced-pom.xml
wrap/jwt/dependency-reduced-pom.xml
yarn.lock
